

<br />
<br />

<div style="font-family:'Helvetica', cursive, sans-serif">
    <center>
        <h3> Mesazhi juaj është derguar me sukses, duke klikuar mbi tekstin me të kaltërt<br /><a class="btn-link" asp-area="" asp-controller="WebPikturat" asp-action="Kontakto">mund të ktheheni sërisht për të dërguar mesazhe tjera!</a></h3>
    </center>
</div>