

<br /><br />

    <center>
        <h3 style="font-family:'Helvetica', cursive, sans-serif"> Piktura është postuar me sukses, duke klikuar mbi tekstin me të kaltërt<br /><a class="btn-link" asp-area="" asp-controller="Administrimi" asp-action="Postimi">mund të ktheheni sërisht për të postuar tjeter Piktur!</a></h3>
    </center>